.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mainTabs{
  /* display: flex;
  justify-content: space-evenly;
  align-items: flex-start; */

  display: grid;
  grid-template-columns: 1150px 100px;
}
.iconsDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  top: 13px;
  left: 6px;

}
.smallImageDiv{
  position: relative;
    left: -82px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.stickyDiv{
  position: sticky;
  overflow: visible;
  display: block;
}
.detailsTab{
  text-align: left;
}
.image414{
  border: 1px solid black;

}
.image415{

}
.sizeDiv{
  width: 60px;
  margin-right:2px;
  border-radius: 100px;
  border: 1px solid lightgray;
  height: 26px;
  background: none;
  cursor: pointer;
}
.sizeDivXL{
  width: 60px;
  margin-right:2px;
  border-radius: 100px;
  border: 1px solid lightgray;
  height: 26px;
  background: none;
  position: relative;
    left: -87px;
    top: 5px;
    cursor: pointer;
}
.sizeDivL{
  width: 60px;
  cursor: pointer;
  margin-right:2px ;
  border-radius: 100px;
  border: 1px solid lightgray;
  height: 26px;
  background: black;
  color: white;
  

}
.sizeGudieDiv{
  display: flex;
  justify-content: space-between;

}
.sizeDivM{
  width: 60px;
  margin-right:2px;
  border-radius: 100px;
  border: 1px solid lightgray;
  height: 26px;
  background: none;
  color: grey;
  cursor: pointer;
  background: linear-gradient(to top right , #fff calc(48% - 0.5px), grey , #fff calc(48% + 0.5px) )
}
.addtobag{
  width: 250px;
  height: 48px;
  border-radius: 100px;
  background-color: black;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.descDiv{
  margin-top: 20px;
  text-align: left;
  font-size: small;
}
.tabIcons{

}
.images{
  
}
.imageDiv{

}
.grid-container {
  display: grid;
  grid-template-columns: 420px 500px 250px;
  padding: 10px;
  /* background-color: #2196F3; */
}


